

[data-md-color-scheme="default"]  {
  --md-hue: #ffffff;
  --md-default-fg-color: #212121;
  --md-default-bg-color: #ffffff;


  --md-primary-bg-color:        #262260;
  --md-primary-bg-color--light: #ffffff;
  --md-primary-bg-color--dark:  #000000;
  --md-primary-bg-color--lighter: #000000;
  --md-primary-bg-color--lightest: #000000;

  --md-primary-fg-color:        #ffffff;
  --md-primary-fg-color--light: #6C6C6C;
  --md-primary-fg-color--dark:  #6C6C6C;
  --md-primary-fg-color--lighter: #6C6C6C;
  --md-primary-fg-color--lightest: #6C6C6C;

  --md-accent-fg-color: #69D488;
  --md-accent-fg-color--transparent: #69D488;
  --md-accent-bg-color: ##ffffff;
  --md-accent-bg-color--light: #fffff;
  --md-accent-bg-color: #ffffff;
  --md-accent-bg-color--light: #ffffff;

  --md-footer-fg-color: #ffffff;
  --md-footer-fg-color--light: #ffffff;
  --md-footer-fg-color--lighter: #ffffff;
  --md-footer-fg-color--lightest: #ffffff;
  --md-footer-bg-color: #262260;
  --md-footer-bg-color--light: #262260;
  --md-footer-bg-color--dark: #262260;
  --md-footer-bg-color--darker: #262260;
  --md-footer-bg-color--darkest: #FC4D4D;

  

}




  [data-md-color-scheme="default"] .md-typeset-a-color, .md-typeset a, .md-typeset.a before {
    color: #262260;
    font-weight: bold;

}




  [data-md-color-scheme="slate"] .md-typeset-a-color, .md-typeset a, .md-typeset.a before {
    color: #69D488;
    font-weight: bold;

}



  [data-md-color-scheme="default"] .md-nav__item .md-nav__link--active {
    color: #262260;
    font-weight: bold;

}


  [data-md-color-scheme="slate"] .md-nav__item .md-nav__link--active {
    color: #69D488;
    font-weight: bold;

}

[data-md-color-scheme="slate"] {
  --md-typeset-color: #ffffff;
  --md-default-fg-color--light: #ffffff;
  --md-default-bg-color: #2E303F;

  --md-typeset-a-color: #69D488;

  --md-primary-bg-color: #ffffff;
  --md-primary-bg-color--light: #6C6C6C;
  --md-primary-bg-color--dark:  #ffffff;
  --md-primary-bg-color--lighter: #000000;
  --md-primary-bg-color--lightest: #000000;


  --md-primary-fg-color:        #212121;
  --md-primary-fg-color--light: #6C6C6C;
  --md-primary-fg-color--dark:  #ffffff;
  --md-primary-fg-color--lighter: #000000;
  --md-primary-fg-color--lightest: #000000;

  --md-accent-fg-color: #FC4D4D;
  --md-accent-fg-color--transparent:  #000000;

  --md-footer-fg-color: #ffffff;
  --md-footer-fg-color--light: #ffffff;
  --md-footer-fg-color--lighter: #ffffff;
  --md-footer-fg-color--lightest: #ffffff;
  --md-footer-bg-color: #212121;
  --md-footer-bg-color--light: #212121;
  --md-footer-bg-color--dark: #212121;
  --md-footer-bg-color--darker: #212121;
  --md-footer-bg-color--darkest: #212121;
}


